section{
    margin-top: 5rem;
    margin-bottom: 3rem;
    &.section_container{
        display: flex;
        @include breakpoint-down("medium"){
            flex-direction: column-reverse;
           margin: 0 auto;
        }
    }
    &.section_left{
        @include breakpoint-down('medium'){
            width: 100%;
          
        }
        .top_heading{
            h4{
                display: inline-block;
                font-family: $fontBarlow;
                &:first-child{
                    background-color: $veryDarkBlue;
                    color: white;
                    font-weight: 700;
                    border-radius: 2rem;
                    padding: 0.2rem 1rem;
                }
                &:last-child{
                    color: $grayishBlue;
                    font-weight: 400;
                }
            }
        }
        .middle_heading{
            h1{
                font-family: $fontBarlowCondensed;
                font-weight: 700;
                font-size: 6rem;
                text-transform: uppercase;
                
            }
            br{
                 content: "A" !important;
                 display: block !important;
                margin-bottom: .1rem !important;
            }
        }
        .bottom_heading{
            h4{
            font-family: $fontBarlow;
            font-weight: 400;
            color: $grayishBlue;
            }
        }
        .button_group{
            display: flex;
            margin-top:3rem;
            button{
            font-family: $fontBarlow;
            font-weight: 700;
            font-size: 1.3rem;
            background-color:$red;
            color: white;
            border:0rem none white;
            padding: .4rem 1rem;
            border-radius:.3rem;
            &:hover{
                background-color:$brightRed
            }
            }

            h4{
                font-family: $fontBarlow;
                color:$grayishBlue;
                padding-left: 1.3rem;
                padding: .4rem 1rem
                
            }
        }
    }
    &.section_right{
        @include breakpoint-down("medium"){
        width: 100%;
           margin: 0 auto;
        }
        width: 38%;
    }
}