
$red: hsl(0, 100%, 68%);
$brightRed: hsl(0,100%,75%);
$veryDarkBlue: hsl(230, 29%, 20%);
$lighterVeryDarkBlue: hsl(230, 29%, 40%);
$darkGrayishBlue: hsl(230, 11%, 40%);
$grayishBlue:  hsl(231, 7%, 65%);
$lighterGrayishBlue:  hsl(231, 7%, 75%);
$lightGrayishBlue: hsl(207, 33%, 95%);

$fontBarlowCondensed: 'Barlow Condensed', sans-serif;
$fontBarlow:  'Barlow', sans-serif;
